@charset "utf-8";
/* CSS Document */

@media only screen and ( max-width : 700px ) and ( min-width : 0px) {

.innerphonesection {
    display: block;
    padding: 20px;
    text-align: center;
}

.details_phoneblog {
    padding-left: 0;
    text-align: center;
}
.phonesection {
    margin-bottom: 50px;
}
.look-professional__example {
    padding: 20px;
}
.look-profes{
    display: block;
    background: url(../img/111.svg) 0 100% no-repeat;
    background-size: contain;
    padding: 0 40px 40px;
    margin: 20px;
}

.professional__example_none{ display:none }

.templates-lik{
    display: block;
    background: url(../img/111.svg) bottom no-repeat;
    background-size: contain;
    padding-bottom: 40px;
    padding-right: 75px;
    margin: 20px 0;
    position: relative;
}
.professional_example_tablet .details_phoneblog {
    padding-left: 0;
    padding-right: 0;
}
.update-your{
    display: block;
    background: url(../img/111.svg) bottom no-repeat;
    background-size: contain;
    padding-bottom: 40px;
    margin: 20px 0;
}
.testimonial__example_aa {
    padding-bottom: 40px;
    margin: 20px 0;
    max-width: none;
    width: 100%;
	background: url(../img/testimonial-blob.59be13b53b90dfddf1567017616a270a.svg) 0 100% no-repeat;
	display:block
}


}

@media only screen and ( max-width : 768px ) and ( min-width : 0px) {

.logo {
    margin: 15px 0;
    text-align: center;
}
.footer {
    text-align: center;
}
.a_form{ margin:0 auto}
.innerphonesection {
    padding: 0;
}

.templates-like-magic__example {
	background: url(../img/example-blob-long.cd5e1698987137fb9270a6c696a17558.svg) 0 100% no-repeat;
	background-size: contain;

}


.phone_slider {
    display: none;
}
.intro_detail{ padding: 20px !important ; text-align: center}
.intro_detail h2 {
    font-size: 24px;
    line-height: 31px;
    max-height: 90px;
}
.intro_detail p {
    font-size: 17px;
}
.slider_block2 {
    min-height: 585px;
}



}


@media only screen and ( max-width : 993px ) and ( min-width : 992px) {

.nav_menu nav > ul > li > a {
    font-size: 18px;
    padding: 0px 9px;
}



}



@media only screen and ( max-width : 992px ) and ( min-width : 757px) {

.logo {
    margin: 15px 0;
    text-align: center;
}
.footer {
    text-align: center;
}
.innerphonesection {
    padding: 0;
}
.templates-like-magic__example {
	background: url(../img/example-blob-long.cd5e1698987137fb9270a6c696a17558.svg) 0 100% no-repeat;
	background-size: contain;

}
.a_form{ margin:0 auto}



.phone_slider {
    display: none;
}
.intro_detail{ padding: 20px !important ; text-align: center}
.intro_detail h2 {
    font-size: 21px;
    line-height: 31px;
    max-height: 92px;
}
.intro_detail p {
    font-size: 17px;
    max-height: 110px;
}
.slider_block {
    min-height: 585px;
    padding: 40px 0 59px;
}



}


@media only screen and ( max-width : 1169px ) and ( min-width : 993px) {

.nav_menu nav > ul > li > a {
    font-size: 18px;
    padding: 0px 9px;
}


.ebda3_blog img {
    height: 240px;
    max-width: 405px;
}
.intro_detail h2 {
    font-size: 36px;
}
.innerphonesection {
    padding: 0;
}

.templates-like-magic__example {
	background: url(../img/example-blob-long.cd5e1698987137fb9270a6c696a17558.svg) 0 100% no-repeat;
	background-size: contain;

}
.phone_slider img {
    width: 380px;
    height: 565px;
}




}








